termcolor>=1.1.0
setuptools==44.0.0
dlib>=19.22.0
progressbar==2.5
pip>=20.0.2
numpy>=1.21.1
opencv-python>=4.5.3.56
toml>=0.10.2
wheel>=0.36.2
mccabe>=0.6.1
wrapt>=1.12.1
py>=1.10.0
pluggy>=0.13.1
pyparsing>=2.4.7
attrs>=21.2.0
iniconfig>=1.1.1
astroid>=2.6.5
pytest>=6.2.4
mypy>=0.770
isort>=5.9.2
pylint>=2.9.6
