termcolor==1.1.0
setuptools==44.0.0
dlib>=19.22.0
progressbar==2.5
pip>=20.0.2
pytest>=6.2.4
mypy>=0.770
toml>=0.10.2
isort>=5.9.2
wheel>=0.36.2
pylint>=2.9.6
astroid>=2.6.5
mccabe>=0.6.1
wrapt>=1.12.1
py>=1.10.0
attrs>=21.2.0
pluggy>=0.13.1
iniconfig>=1.1.1
numpy>=1.21.1
pyparsing>=2.4.7
opencv-python>=4.5.3.56
